<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ean.project.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.ean.commonapi.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>

    <select id="getTopInvokeInterface" resultType="com.ean.commonapi.model.entity.UserInterfaceInfo">
        SELECT interfaceInfoId, count(*) as count FROM `user_interface_info` GROUP BY interfaceInfoId ORDER BY count DESC LIMIT 5
    </select>
    <select id="getDailyInterface" resultType="com.ean.commonapi.model.vo.UsingInterfaceCountVO">
        SELECT DATE(createTime) as date,count(*) as count FROM `user_interface_info` GROUP BY DATE(createTime)
    </select>
    <select id="dailyInterface" resultType="com.ean.commonapi.model.bo.DailyInterfaceBO">
        SELECT interfaceInfoId, count(interfaceInfoId) as count, DATE(createTime) as date
        FROM `user_interface_info` GROUP BY interfaceInfoId, DATE(createTime)
                                   ORDER BY Date(createTime) DESC limit 5
    </select>


</mapper>
