<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="generator.domain.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interfaceinfoid" column="interfaceInfoId" jdbcType="BIGINT"/>
            <result property="userid" column="userId" jdbcType="BIGINT"/>
            <result property="totalnum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftnum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interfaceInfoId,userId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
</mapper>
